.container {
  margin: 40px auto;
  width: 600px;
  padding: 0px 20px 20px 20px;
  border: 1px dotted black;
  position:relative;  
}

th {
  text-align: left;
}

.stack-text-inputs {
  display:block;
  width: 225px;
  margin:auto;
}

input {
  margin-top:5px;
  margin-bottom:5px;
}

.errors {
  text-align:center;
  color:red;
}

.top-nav {
  position:fixed;
  top:0px;
  left:0px;
  right:0px;
  padding-right:20px;
  padding-left:20px;
  height:40px;
  border-bottom:1px solid;
  text-align:right;
}

.top-nav a {
  position:relative;
  line-height:40px;
  text-decoration:none;
  margin-left:5px;
  margin-right:5px;
  color:black;
}

.top-nav a:visited {
  color:black;
}

.top-nav a:hover {
  color:gray;
}

.home-link {
  float:left;
  font-size:20px;
}

.event-listing li {
  margin-top: 7px;
  margin-bottom: 7px;
}
